/*--- General Styling ---*/
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica, Geneva, Verdana, sans-serif;
    line-height: 1.5em; 
    background-image: linear-gradient(to bottom right, #98fb98, rgb(160, 221, 46));
        
  }

/* @font-face {
font-family: Lobster;
src: url(fonts/Lobster.otf);
} */

/* .active, 
h2 {
    font-family: Avner;
    font-size: 1.20em;
    text-align: center;
} */

div {
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
}

form,
footer, 
span,
p {
    text-align: center;
}

/*--- All Links ---*/
a {
    color: white;
    text-decoration: none;
}

/*--- Name & Logo ---*/



/*--- Sections/Pgs ---*/

.site_logo {
    border-radius:50%;
    width: 215px; 
    border: 2px solid white;
    justify-content: left;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.site_info {
    font-family: Andalé Mono, sans-serif;
}

.tricks {
    border: 1px solid white;
}

.games {
    border: 1px solid white;
}

.trick_text, 
.game_text {
    font-weight: bolder;
    text: center;
}

/*--- T & G List ---*/




/*--- Contact Form ---*/
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: inherit;
    background-color: rgb(82, 79, 79);
    border: 1px solid white;
    border-radius: 2%;
    width: 30%;
    
}

button {
    width: 20%;
    margin-top: 10px;
    justify-content: center;

}


/*--- Footer ---*/
footer {
    color: white;
    font-size: small;
    margin-top: 30px;
    /* text-align: center; */
}

footer li {
    display: inline;
    margin-left: 5px;
}

/*--- Navigation & Burg Menu ---*/
@media (max-width: 736px) {
    .nav {
        overflow: hidden;
        background-color: rgb(75, 75, 75);
        position: relative;
      }
      
      /* Hide Links */
      .nav #myLinks{
        display: none;
      }
      
      /* Nav Links */
      .nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Berg Style */
      .nav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .nav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Home Link */
      .active {
        background-color: #4CAF50;
        color: white;
      }
    }

/*--- Other @media ---*/

/* Nav Main */
@media (min-width: 737px) {
    header {
        display: flex;
        width: 100%;
    }
    
    .site_name {
        font-size: 50px;
        font-weight: bold;
        flex: left;
        padding-top: 10px;
        margin-top: 15px;
        margin-left: 0;
    }

    /* .nav, */
    #myLinks {
        /* display: block; */
        padding: 10px;
        font-size: 1.1em;
        color: white;
        list-style: none;
        /* text-align: center; */
        border-bottom: 1px solid white;
        margin-top: 3em;
        flex: right;
        /* flex-direction: row; */
        justify-content: space-around;
    }


    .nav a:hover {
        background: rgb(82, 79, 79);
        background-size: 15px;
        color: rgb(120, 150, 12);
    } 
    
    #myLinks:hover {
        color: rgb(120, 150, 12);
    }

    .site_logo {
        width: 200px;
        
    }

}


/*--- Desktop ---*/
@media (min-width: 1025px){
    header {
        flex-direction: row; 
     
    }


    #myLinks {
        margin-left: .65em; 
        margin-right: .65em;
    }

    .main_content {
        display: flex;
    }

    .site_info {
        flex: wrap;
        flex-direction: row;
        flex-basis: 50%;
    }

    .tricks, 
    .games {
        flex-direction: column;
        align-content: center;
        flex-basis: 25%;
        
    }

    /*Work with this for the 2/1 column look, 
    so it's 3 cols in total. */
     

  

/*------------------------------
Misc
--------------------------------*/



/*----------
Notes
-----------*/
/*Add in checkbox to contact form. Games, tricks, or resources(?)*/
/* Add background img. Then make elements that are grey 
now into the green that's currently being used.*/
/*Add box-shadows to all the divs to give some depth against the background.*/