/*--- Main Styles ---*/
* {
    box-sizing: border-box;
  }



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica, Geneva, Verdana, sans-serif;
    line-height: 1.5em; 
    background-image: linear-gradient(to bottom right, #98fb98, rgb(160, 221, 46));
        
  }



/*--- Link & Divs ---*/
div {
    font-size: 1em;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

/*--- IMGs ---*/

.site_logo {
    border-radius:15%;
    width: 12em; 
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(201, 154, 194);
    border-radius: 50%;
    display: inline-block;
}

/*--- Sections/Pgs ---*/
.site_info {
    text-align: center;
}

.tricks {
    border: 1px solid white;
    text-align: center;
}

.games {
    border: 1px solid white;
    text-align: center;
    margin-top: 5px;
}

.tricks,
.games {
    box-shadow: 5px 5px 10px rgb(68, 99, 12)
}

.tricks:first-child, 
.games:first-child {
    font-weight: bolder;
    padding: 10px;

}

p {
    margin: 15px;
}

.tricks button,
.games button {
    align-content: flex-end;
}

/*--- Contact Form ---*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(70, 67, 67);
    border: 1px solid white;
    border-radius: 2%;
    width: 30%;
    height: 23em; 
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(68, 99, 12)
}

input[type="text"]{
    padding: .5em;
    background-color: lightgrey;

}
#user_comments {
    width: 150;
    height: 120px;
    background-color: lightgrey;
}

/*--- Buttons ---*/

button[type="button"]{
    width: 8em;
    margin-bottom: 2em;
}

button[type="submit"]{
    width: 5em;
    margin-top: 10px;
}

button {
    background-color: rgb(160, 221, 46);
}

button:hover {
    background-color:rgb(201, 154, 194);
}

/*--- Footer ---*/

footer {
    color: white;
    font-size: small;
    margin-top: 30px;
}

footer li {
    display: inline;
}

footer, 
span {
    text-align: center;
}

.social {
    padding-right: 5em;
    margin-left: 5px; 
}

/*--- Burg Nav ---*/
@media (max-width: 724px) {
    .nav {
        overflow: hidden;
        background-color: rgb(85, 80, 85);
        position: relative;
        margin-left: .3em;
        margin-right: .3em;
        box-shadow: 5px 5px 10px rgb(68, 99, 12)
      }
      
      /* Hide Links */
      .nav #myLinks{
        display: none;
      }
       
      /* Nav Links */
      .nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        display: block;
      } 
      
      /* Berg Style */
       .nav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      } 
      
      .nav a:hover {
        background-color:rgb(201, 154, 194);
        color: black;
      } 
      
      /* Home Link */
      .active {
        background-color:  rgb(65, 53, 63);
        color: white;
        font-size: 35px;
        font-weight: bold;
      }
    } 

/*--- @media (725px)---*/

/* Nav Main */
@media (min-width: 725px) {
 
header {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    height: 10%;
    margin: 55px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(70, 67, 67);
    box-shadow: 5px 5px 10px rgb(68, 99, 12)
}

.site_name {
    font-size: 30px;
    font-weight: bold;
}

#myLinks a {
    display: block;
    padding: 8px;
    font-size: 1.1em;
    color: white;
    list-style: none;
    text-align: center;
    /* border-bottom: 1px solid white; */
}
        
    #myLinks a:hover {
        color:rgb(201, 154, 194);
    }
}

#myLinks a:nth-child(-1n+2) {
    border-bottom: 1px solid rgb(211, 210, 210);
} 

/* Sections */




/*--- @media (1025px)---*/

@media (min-width: 1025px){

    /* Nav Main */
    header {
        display: flex;
    }

    .active {
        font-size: 55px;
        color: white;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    } 
 
    #myLinks a{
        padding: 5px;
        font-size: 1.5em;
        text-align: right;
        /* border-bottom: 2px white solid; */
        margin-top: 5px;
        margin-bottom: 35px;
        flex-direction: row;
       /* justify-content: space-between; */
    } 

/* Sections */
    .main_content {
        display: flex;
        /* flex-direction: column; */
        width: 95%;
        margin: 0 auto;
    }

    .site_info {
        flex: wrap; 
        flex-basis: 50%;
    }

    .tricks, 
    .games {
        flex-direction: column;
        align-content: center;
        flex-basis: 25%; 
    }

    .tricks {
        margin-top: .3em;
        margin-right: .5em;
        height: 22%;
    }

    .games {
        height: 20%;
    }

    .site_logo {
        width: 16em;
    }
}