/*------------------------------
All Sizes
--------------------------------*/
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica, Geneva, Verdana, sans-serif;
    line-height: 1.5em; 
    background-image: linear-gradient(to bottom right, #98fb98, rgb(87, 206, 40));
        
  }


a {
    color: white;
    text-decoration: none;
}

/*------------------------------
Navigation & Burg Menu
--------------------------------*/



.main-header, 
.nav {
    display: flex;
    flex-direction: column;
}

nav,
.nav li {
    display: block;
    padding: 10px;
    font-size: 1.1em;
    color: white;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.nav a:hover {
    color: rgb(120, 150, 12);
}

.nav li:hover {
    border-bottom-color: white;
}



.site_name {
    align-self: center;
}

.site_logo {
    border-radius:50% 50% 0 0;
    height:150px; 
    width:150px;
    border: 3px solid white;
    justify-content: left;
}

div {
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
}

.site_info {
    border: 1px solid white;
}

header {
    font-family:  
}

.tricks {
    border: 1px solid white;
}

.games {
    border: 1px solid white;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: inherit;
    background-color: rgb(82, 79, 79);
    border: 1px solid white;
    border-radius: 2%;
    width: 30%;
    
}

button {
    width: 15%;
    margin-top: 10px;
    justify-content: center;

}

footer {
    /* background:grey; */
    color: white;
    font-size: small;
    margin-top: 30px;
    /* text-align: center; */
}

footer li {
    display: inline;
    margin-left: 5px;
}


h2 {
    font-size: 1.20em;
    text-align: center;
}

.site_name,
.site_logo,
form,
footer, 
span,
p {
    text-align: center;
}

/*Add the burg menu for <~560. */

/*------------------------------
In-Betweens
--------------------------------*/
@media (min-width: 769px) {
    .main-header {
        height: 200px;
        justify-content: flex-end;
    }
    
    .nav,
    .nav li {
        flex-direction: row;
        margin-top: 3em;
        justify-content: space-between;
    }

    .nav li {
        border-bottom-color: transparent;
    }

    .site_logo {
        width: 200px;
        
    }

}


/*------------------------------
Desktop
--------------------------------*/
@media (min-width: 1025px){
    .main-header {
        flex-direction: row; 
     
    }

    .site_logo, 
    .site_name {
        margin-right: auto;
    }
    /*Work with the spacing on this, cause it's 
    not happening yet. */

    .nav {
        margin-top: 0;
    }

    .nav li {
        margin-left: .65em; 
        margin-right: .65em;
    }

    .main_content {
        display: flex;
        flex: wrap;
    }
    /*Work with this for the 2/1 column look, 
    so it's 3 cols in total. */
     

  

/*------------------------------
Misc
--------------------------------*/



/*----------
Notes
-----------*/
/*Add in checkbox to contact form. Games, tricks, or resources(?)*/
/* Add background img. Then make elements that are grey 
now into the green that's currently being used.*/
/*Add box-shadows to all the divs to give some depth against the background.*/