/*------------------------------
All Sizes
--------------------------------*/

/* li {
  margin-top: 0;
}

ul {
  list-style: none;
} */

div {
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}


/*----------------------------
In Betweens
------------------------------*/
@media(min-width: 769px) {
  
  .site_logo,
  .site_name {
    display: inline-block;
    /* flex-direction: column; */
  }
  .site_name {
    align-content: start;
  }

  .site_logo {
    width: 85px;
    border-radius: 50%;
    border: 5px solid white;
    justify-content: left;
  }
}

/*----------------------------
Desktop 
------------------------------*/








