/*------------------------------
All Sizes
--------------------------------*/

li {
  margin-top: 0;
}

ul {
  list-style: none;
}

/* div {
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
} */



/* .progbar::after {
    content:"";
    display: block;
    width: 50%;
    height: 100%;
    border-radius: inherit;
      background-color: #5ece7f; 
  }
  
  .progbar::before {
    content:"";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      left: 49%;
      top: -9px;
      background-color: #7dd898; 
  }
  
  .progbar a::after {
    content:attr(href);
    height: 6px;
    border-radius: 3px;
    background: #d6d7d9;
    position: relative;
    margin-bottom: 3.875em; 
  } */

/*----------------------------
In Betweens
------------------------------*/
@media(min-width: 769px) {
  
  .site_logo,
  .site_name {
    display: inline-block;
    /* flex-direction: column; */
  }
  .site_name {
    align-content: start;
  }

  .site_logo {
    width: 85px;
    border-radius: 50%;
    border: 5px solid white;
    justify-content: left;
  }
}

/*----------------------------
Desktop 
------------------------------*/








