/*------------------------------
All Sizes
--------------------------------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

/* body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6; 
    background-color: palegreen;
    margin: 0;    
} */

/* .bg {
    background-image: URL("yard_rose.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  /* .nav a:hover {
    color: rgb(120, 150, 12);
} */

/* header {
    padding-top: 5em;
    padding-bottom: 5em;
} */

/*.dogAvatar {
        width: 200px;
        border-radius: 50%;
    }
} */

/* #home {
    color: white;
    /* background:gray; */
    /* padding: 3.2em 0;
    margin-bottom: 48px;
} */ 

/* div {
    font-size: 1em;
    color: white;
    text-decoration: none;
} */


/* footer {
    background:grey;
    padding: 2em 0;
    margin-top: 10px;
    color: white;
    font-size: x-small;
    text-align: center;
    height: 40px;
} */
/*flex to push footer to bottom of pg.*/

/* .social {
    display: flex;
    list-style: none;
    justify-content: center;
} */

/* h2 {
    font-size: 1.20em;
    text-align: center;
} */



/*------------------------------
Mobile
--------------------------------*/
/* .home,
.contact,
footer, 
span,
p {
    text-align: center;
} */

/* h1 {
    font-size: 2em;
    margin: 0;
} */


/*------------------------------
In-Betweens
--------------------------------*/
/* @media (min-width: 769px) {
        h1 a,
        .nav a {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 15px;
        font-size: 1em;
        color: white;
        text-decoration: none;
    } */

    /* .nav {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 5px;
    } */

    /* #home {
            padding: 15px 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        } */
}



/*------------------------------
Desktop
--------------------------------*/
/* @media (min-width: 1025px){
    .main-nav ul{
        flex-direction: row;
        justify-content: space-between;
    } */

    /* .main_content {
        display: flex;
        flex: wrap;
    } */

    /* .contact {
        flex-direction: row;
        justify-content: space-between;
    }

    /* .main_content {
        display: flex;
        flex: wrap;
    } 

    /* .contact {
    background: grey;
    color: white;
    border-radius: 5px 5px; 
}  */
} */


/*------------------------------
Misc
--------------------------------*/
/* 
.headline {
    margin-bottom: 0;
} */



/*----------
Notes
-----------*/
/*Add in checkbox to contact form. Games, tricks, or resources(?)*/
/* Add background img. Then make elements that are grey 
now into the green that's currently being used.*/
